/* Fonts */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'), url(https://fonts.gstatic.com/s/ptsans/v9/jizaRExUiTo99u79D0KExcOPIDU.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Bold'), local('PTSans-Bold'), url(https://fonts.gstatic.com/s/ptsans/v9/jizfRExUiTo99u79B_mh0O6tLR8a8zI.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Universal Selectors */

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: 'PT Sans', sans-serif;
}

h1 {
  font-size: 36px;
  font-weight: bold;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
  font-weight: bold;
}

/* Media Queries */

/* Remove All Desktop Assets For Mobile Devices */
@media only screen and (max-width: 499px) {
  .mobile-hide {
    display: none;
  }

  /* Nav */

  nav {
    height: 64px;
    position: fixed;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid grey;
  }

  nav ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;
  }

  /* Header */

  header {
    margin-top: 65px;
    background-color: lightgray;
  }

  header img {
    width: 100%;
  }

  .header-content {
    margin: 32px 16px 32px 16px;
  }

  .header-content h2 {
    margin: 32px 0 24px 0;
  }

  .header-content a {
    padding: 16px 0;
    text-align: center;
    background-color: gray;
    color: white;
    text-decoration: none;
    display: block;
  }

  /* Campus */

  #campus {
    border-bottom: 1px solid grey;
  }

  .campus-item-container {
    margin: 16px 16px 0 16px;
  }

  .campus-item {
    margin-bottom: 32px
  }

  .campus-item h3 {
    margin-top: 16px;
  }

  .campus-item h4 {
    margin: 8px 0;
  }

  .campus-item img {
    width: 100%;
  }

  .campus-item div {
    margin-left: 16px;
  }

  /* Courses */

  .course-title {
    text-align: center;
    margin: 32px 0 16px 0;
  }

  .course-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 24px;
    border-bottom: 1px solid lightgray;
    margin: 0 16px;
  }

  .course {
    background-color: lightgray;
    margin-bottom: 8px;
    width: 100%;
  }

  .course h3 {
    margin: 16px 0 24px 16px;
  }

  /* Exhibits */

  .exhibit-title {
    margin-top: 32px;
    text-align: center;
  }

  .main-exhibit-content video{
    height: auto;
    width: 100%;
    margin: 16px 0 24px 0;
  }

  /* Footer */

  footer h4 {
    margin: 16px;
  }

}

/* Remove All Mobile Assets For Desktop Devices */
@media only screen and (min-width: 500px) {
  .web-hide {
    display: none;
  }
  /* Nav */

  .highlight {
    background-color: lightgray;
  }

  nav {
    height: 64px;
    display: flex;
    align-items: center;
    position: fixed;
    background-color: white;
    width: 100%;
  }

  nav h1 {
    font-size: 32px;
  }

  nav h1 strong {
    font-weight: normal;
  }

  .logo {
    width: 50%;
    display: flex;
    margin-left: 24px;
    align-items: center;
  }

  nav ul{
    display: flex;
    list-style-type: none;
    margin-right: 16px;
    width: 50%;
    justify-content: flex-end;
  }

  nav ul li {
    margin: 0 8px;
  }

  nav ul li a {
    color: black;
    text-decoration: none;
  }

  /* Header */

  header {
    background-color: lightgray;
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 64px;
  }

  header h2 {
    margin: 16px 0;
  }

   header img {
    width: 60%;
    height: auto;
    margin: 32px 24px;
  }

  header a {
    padding: 16px 0;
    background-color: gray;
    color: white;
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
  }

  .header-content {
    margin-right: 24px;
  }

  /* Campus */

  #campus {
    display: flex;
    flex-wrap: wrap;
  }

  .main-campus {
    width: 60%;
  }

  .main-campus-content {
    margin: 32px 24px;
  }

  .main-campus-content img{
    height: auto;
    width: 100%;
  }

  .main-campus-content h1 {
    margin: 32px 0;
  }

  .main-campus-content p {
    margin-top: 32px;
    font-size: 14px;
  }

  .campus-item-container {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-top: 16px;
    margin-bottom: 32px;
  }

  .campus-item {
    width: 100%;
    display: flex;
    align-items: center;
  }

  .campus-item img {
    width: 35%;
    margin: 16px;
  }

  .campus-item div{
    width: 65%;
  }

  .campus-item h4 {
    padding: 8px 0;
  }

  .campus-item a {
    color: #0066ff;
    text-decoration: none;
  }

  /* Courses */

  #courses {
    background-color: lightgray;
  }

  .course-title {
    text-align: center;
    margin: 32px 0 16px 0;
  }

  .course-container {
    margin: 0 56px 16px 56px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .course {
    width: 300px;
    margin: 16px;
    background-color: white;
  }

  .course img {
    width: 100%;
  }

  .course div {
    margin: 16px 0 24px 16px;
  }

  .course h3 {
    margin-top: 16px;
  }

  .course-type {
    margin: 8px 0;
  }

  /* Exhibit */

  .exhibit-title {
    margin: 32px 0;
    text-align: center;
  }

  .exhibit-container {
    display: flex;
    margin-bottom: 32px;
  }

  .main-exhibit {
    width: 60%;
  }

  .main-exhibit-content {
    margin: 0 24px;
  }

  .main-exhibit-content video{
    height: auto;
    width: 100%;
  }

  .main-exhibit-content h3 {
    margin: 24px 0;
  }

  .exhibit-item-container {
    display: flex;
    flex-direction: column;
    width: 40%;
  }

  .exhibit-item {
    width: 100%;
    display: flex;
    align-items: center;
  }

  .exhibit-item img {
    width: 35%;
    margin: 16px;
  }

  .exhibit-item div{
    width: 65%;
  }

  .exhibit-item h4 {
    margin-top: 8px;
  }

  /* Footer */

  footer {
    display: flex;
    padding: 16px 0 32px 0;
    border-top: 1px solid black;
  }

  footer h4 {
    width: 50%;
    margin-left: 24px;
  }

  footer ul {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    margin-right: 16px;
  }

  footer ul li {
    margin: 0 8px;
  }
}
